{%extends "base.html"%}
{%block title%}レビュー投稿{%endblock%}
{%block h1%}レビュー投稿{%endblock%}
{%block content%}
<form class="p-4 m-4 bg-light border border-success rounded form-group" method="post" action="">
    {%csrf_token%}
    <label for="">対象書籍</label>
    <input class="form-control" value="{{book.title}}" type="text" readonly>
    <label for="">タイトル</label>
    <input class="form-control" type="title" name="title">
    <label for="">本文</label>
    <textarea class="form-control" name="text" id="" cols="" rows="3"></textarea>
    <label for="">星の数</label>
    <select class="form-control" name="rate" id="">
        <option value="0">0（最低）</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3（普通）</option>
        <option value="4">4</option>
        <option value="5">5（最高）</option>
    </select>
    <input name="book" type="hidden" value="{{book.id}}">
    <button class="btn btn-success mt-4" type="submit">投稿する</button>
</form>
{%endblock%}

